.cartButton {
  background-color: #000000 !important;
  color: #ffffff !important;
  transition: all 1.5s;
}

.cartButton:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.goBackHomeButton {
  background-color: #000000 !important;
  color: #ffffff !important;
  transition: all 1.5s;
}

.goBackHomeButton:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}
